<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chummy.dark.material.layers">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chummy.dark.material.layers.MainActivity"
            android:label="@string/launcher_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chummy.dark.material.layers.activities.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chummy.dark.material.layers.activities.DetailedWallpaper"
            android:label="@string/title_activity_detailed_wallpaper"
            android:theme="@style/Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.chummy.dark.material.layers.activities.DetailedWallpaper" />
        </activity>

        <service
            android:name="com.chummy.dark.material.layers.Overlay"
            android:exported="true">
            <intent-filter>
                <action android:name="com.layers.plugins.PICK_OVERLAYS" />
                <category android:name="Overlay" />
            </intent-filter>
        </service>

        <meta-data
            android:name="Layers_Name"
            android:value="@string/layers_name" />
        <meta-data
            android:name="Layers_Developer"
            android:value="@string/team" />
        <meta-data
            android:name="Layers_Colors"
            android:value="" />
        <meta-data
            android:name="Layers_Description"
            android:value="@string/welcome_title" />
        <meta-data
            android:name="Layers_OverlayNames"
            android:value="@string/layers_overlays" />
        <meta-data
            android:name="Layers_WhatsNew"
            android:value="@string/layers_changelog" />
    </application>
</manifest>