<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chummy.jezebel.material.dark">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="org.cyanogenmod.theme"
        android:required="true" />

    <meta-data
        android:name="org.cyanogenmod.theme.name"
        android:value="@string/app_name" />
    <meta-data
        android:name="org.cyanogenmod.theme.author"
        android:value="@string/team" />
    <meta-data
        android:name="org.cyanogenmod.theme.email"
        android:value="@string/email_id" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/arcus_theme_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="arcus.support"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:label="@string/launcher_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailedWallpaper"
            android:label="@string/title_activity_detailed_wallpaper"
            android:theme="@style/Default">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ac
                tivities.DetailedWallpaper" />
        </activity>
        <activity
            android:name=".LauncherActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/launcher_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>